<mat-card>
    <mat-card-title>
        <h2>Log In</h2>
    </mat-card-title>
    <mat-card-content>

        <form #loginForm="ngForm" (ngSubmit)="loginHandler(loginForm)">
        
            <mat-form-field>
                <input matInput placeholder="Email" ngModel name="email" required>
            </mat-form-field>

            <mat-form-field>
                <input matInput type="password" placeholder="Password" ngModel type="password" name="password" required>

            </mat-form-field>
            <ng-container *ngIf="!loginForm.form.valid">
                The username or password were not recognized
            </ng-container> 
            <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid">Login</button>
        </form>
    </mat-card-content>
</mat-card>