.ft-legal {
    padding: 0.9375rem 1.875rem;
    background-color: #558B2F
}

.ft-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.ft-legal-list li {
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
    text-align: center;
}

/* one before the last child */
.ft-legal-list li:nth-last-child(2) {
    flex: 1;
    /* same as flex-grow: 1; */
}

.ft-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
}

.ft-main-item {
    padding: 1.25rem;
    min-width: 12.5rem;
}


ul {
    list-style: none;
    padding-left: 0;
}

footer {
    background-color: #558b2f;
    color: #bbb;
    line-height: 1.5;
}

footer a {
    text-decoration: none;
    color: #eee;
}

a:hover {
    text-decoration: underline;
}

.ft-title {
    color: #fff;
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
  
}