.container-half-divider {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.line {
  flex: 1;
  padding: 10px;
  /* padding-right: 10px; */
}

.svg {
  width: 40px;
  height: 40px;
  fill: #558b2f;
}

.svg.small {
  width: 25px;
  height: 25px;
}

.category {
  text-align: center;
  padding: 10px;
  font-family: Cookie;
  font-size: 26px;
}

.half-divider {
  width: 50%;
  text-align: center;
}

mat-card-title {
  text-align: center;
  font-family: Cookie;
  padding: 20px;
  font-weight: 400;
  font-size: 44px;
}

mat-card-subtitle {
  /* font-weight: 100; */
  font-size: 14px;
  line-height: 1.2;
  text-align: right;
  font-family: 'Cookie', sans-serif;
  font-size: 22px;
  margin-top: 10px;
}

mat-card-content {
  margin-top: 20px;
}

.titles {
  font-family: Cookie;
  font-weight: 400;
  font-size: 36px;
  align-items: center;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
}

/* recipe card */
.example-card {
  min-width: 600px;
  margin: 50px;
  padding: 20px 20px;
  font-family: 'Jost', sans-serif;
}

.recipe-title {
  box-sizing: border-box;
  flex-flow: row wrap;
  /* display: flex; */
  width: 70%;
  overflow: hidden;
}

.recipe-img {
  box-sizing: border-box;
  padding-left: 1.5rem !important;
  padding-top: 20px;
  overflow: hidden;
  border-radius: 5px;
  object-fit: cover;
  height: fit-content;
  object-position: center;
  /* this centers and crops the image so that it doesn't break the aspect ratio */


}

img {
  box-sizing: border-box;
  max-height: 400px !important;
}


.recipe-types {
  padding-right: 10px;
  padding-left: 5px;
  font-family: Cookie;
  font-size: 22px;
}

.types-center {
  display: inline-flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 30px;
}

.center {
  text-align: center;
}

.types-center>p {
  padding-left: 10px;
}

.example-button-row {
  align-items: center;
  text-align: center;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}


.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.example-form {
  min-width: 150px;
  max-width: 800px;
  width: calc(100% - 20px);

}

.example-full-width {
  width: 100%;
  background-color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.ingredients {
  white-space: pre-wrap;
  font-family: 'Jost', sans-serif;
  font-size: 16px;
}

.recipe-body {
  box-sizing: border-box;
  flex-flow: row wrap;
  display: inline-flex;
  /* overflow: hidden; */
}

.recipe-body.left {
  width: 40%;
}

.recipe-body.right {
  width: 60%;

}