 mat-card {
     /* card padding other cards row/column*/
     width: calc(100% - 20px);
     /* height: 500px; */
     height: calc(100% - 20px);
     background-color: white;
     color: black;
 }

 .my-card-image {
     width: calc(100% - 0px);
     height: calc(100% - 30%);
     object-fit: cover;

 }

 .container {
     margin-left: 10px;
     margin-right: 10px;
 }