<mat-card class="my-card">
    <mat-card-header >
        <div mat-card-avatar>
            <div class="logo">
                <mat-icon svgIcon="recipes" class="logo"></mat-icon>
            </div>
        </div>
        <mat-card-title>
            Add your favorite recipe to your Recipe Diary
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form class="example-form" #form="ngForm" (ngSubmit)="newRecipeHandler(form)">

            <!-- Title -->
            <mat-form-field class="example-full-width">
                <mat-label>Add Recipe Title</mat-label>
                <input matInput type="text" name="titleRecipe" #titleRecipe="ngModel" ngModel required [minlength]="3"
                    id="titleRecipe" />

                <!-- Title Errors -->
                <ng-container *ngIf="titleRecipe.touched">
                    <mat-error class="error" *ngIf="titleRecipe.errors?.['required']">
                        Recipe title is <strong>required</strong>
                    </mat-error>
                    <mat-error class="error" *ngIf="titleRecipe.errors?.['minlength']">
                        Recipe title must be at least {{titleRecipe.errors?.['minlength']['requiredLength']}} characters
                        long.
                    </mat-error>
                </ng-container>
            </mat-form-field>

            <!-- Description -->
            <mat-form-field class="example-full-width">
                <mat-label>Add short Description</mat-label>
                <textarea matInput name="shortDescription" #shortDescription="ngModel" ngModel [minlength]="3"
                    id="shortDescription" type="text"></textarea>
                <!-- Description Errors -->
                <ng-container *ngIf="shortDescription.touched">
                    <mat-error class="error" *ngIf="shortDescription.errors?.['minlength']">
                        Description must be at least {{shortDescription.errors?.['minlength']['requiredLength']}}
                        characters long.
                    </mat-error>
                </ng-container>
            </mat-form-field>

            <!-- Category -->
            <p>
                <mat-form-field appearance="fill">
                    <mat-label>Choose Category</mat-label>
                    <mat-select [(ngModel)]="selectedCategory" id="category" name="category" required>
                        <mat-option *ngFor="let category of categoryList" [value]="category.titleCategory">
                            {{category.titleCategory}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- Main Ingredient -->

                <mat-form-field appearance="fill">
                    <mat-label>Choose Main Ingredient</mat-label>
                    <mat-select [(ngModel)]="selectedIngredient" name="mainIngredient" required>
                        <mat-option *ngFor="let mainIngredient of mainIngredientList"
                            [value]="mainIngredient.titleIngredient">
                            {{mainIngredient.titleIngredient}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </p>
            <p>
                <!-- Meal -->
                <mat-form-field appearance="fill">
                    <mat-label>Choose Meal</mat-label>
                    <mat-select [(ngModel)]="selectedMeal" name="meal" required>
                        <mat-option *ngFor="let meal of meals" [value]="meal.value">
                            {{meal.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>


                <!-- Season -->
                <mat-form-field appearance="fill">
                    <mat-label>Choose Season</mat-label>
                    <mat-select [(ngModel)]="selectedSeason" name="season">
                        <mat-option *ngFor="let season of seasons" [value]="season.value">
                            {{season.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            <p>
                <!-- Difficulty -->
                <mat-form-field appearance="outline">
                    <mat-label>Choose Difficulty</mat-label>
                    <mat-select [(ngModel)]="selectedDifficulty" name="difficulty" required>
                        <mat-option *ngFor="let difficulty of difficulties" [value]="difficulty.value">
                            {{difficulty.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>


                <!-- Servings -->
                <mat-form-field appearance="fill">
                    <mat-label>Choose number of Servings</mat-label>
                    <input matInput type="number" name="servings" #servings="ngModel" ngModel required [min]="1"
                        id="servings" />
                    <!-- Servings Errors -->
                    <ng-container *ngIf="servings.touched">
                        <mat-error class="error" *ngIf="servings.errors?.['required']">
                            Number of Servings is <strong>required</strong>
                        </mat-error>
                    </ng-container>
                </mat-form-field>
            </p>
            <p>

                <!-- preparationTime -->
                <mat-form-field appearance="fill">
                    <mat-label>Preparation time in minutes</mat-label>
                    <input matInput type="number" name="preparationTime" #preparationTime="ngModel" ngModel [min]="1"
                        id="preparationTime" />
                </mat-form-field>

                <!-- cookingTime -->
                <mat-form-field appearance="fill">
                    <mat-label>Cooking time in minutes</mat-label>
                    <input matInput type="number" name="cookingTime" #cookingTime="ngModel" ngModel [min]="1"
                        id="cookingTime" />
                </mat-form-field>
            </p>

            <p>
                <!-- ingredients -->
                <mat-form-field class="example-full-width">
                    <mat-label>Add Needed Ingredients</mat-label>
                    <textarea matInput name="ingredients" #ingredients="ngModel" ngModel [minlength]="3"
                        id="ingredients" type="text"></textarea>
                    <!-- Ingredients Errors -->
                    <ng-container *ngIf="ingredients.touched">
                        <mat-error class="error" *ngIf="ingredients.errors?.['minlength']">
                            Description must be at least {{ingredients.errors?.['minlength']['requiredLength']}}
                            characters long.
                        </mat-error>
                    </ng-container>
                </mat-form-field>
            </p>
            <p>
                <!-- preparation -->
                <mat-form-field class="example-full-width">
                    <mat-label>Steps for preparation</mat-label>
                    <textarea matInput name="preparation" #preparation="ngModel" ngModel [minlength]="10"
                        id="preparation" type="text"></textarea>
                    <!-- Ingredients Errors -->
                    <ng-container *ngIf="preparation.touched">
                        <mat-error class="error" *ngIf="preparation.errors?.['minlength']">
                            Description must be at least {{preparation.errors?.['minlength']['requiredLength']}}
                            characters long.
                        </mat-error>
                    </ng-container>
                </mat-form-field>
            </p>

            <p>
                <!-- Image -->
                <mat-form-field class="example-full-width">
                    <mat-label>Add Image URL</mat-label>
                    <textarea matInput name="image" #image="ngModel" ngModel required [minlength]="3" id="image"
                        type="text"></textarea>
                    <!-- Image Errors -->
                    <ng-container *ngIf="image.touched">
                        <mat-error class="error" *ngIf="image.errors?.['minlength']">
                            Image Url must be at least {{image.errors?.['minlength']['requiredLength']}}
                            characters long.
                        </mat-error>
                    </ng-container>
                </mat-form-field>
            </p>

        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button class="cancel" type="button" routerLink="/recipe/">Cancel</button>
        <button mat-raised-button class="public" [disabled]="form.invalid">Create Recipe</button>
    </mat-card-actions>
</mat-card>