<mat-card>
    <mat-card-title>
        <h2>Create Recipe</h2>
    </mat-card-title>
    <mat-card-content>

        <form #form="ngForm" (ngSubmit)="newRecipeHandler(form)">

            <!-- Title  -->
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Title of recipe" ngModel name="titleRecipe" minlength="3" #titleRecipe
                    required>
                <mat-error *ngIf="titleRecipe.required">
                    Title is required!
                </mat-error>
                <mat-error *ngIf="titleRecipe.minLength">
                    Title is must be at least 3 characters!
                </mat-error>
            </mat-form-field>

            <!-- shortDescription -->
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Introduce recipe" ngModel name="shortDescription" minlength="3"
                    #shortDescription>
                <mat-error *ngIf="shortDescription.minLength">
                    Short description must be at least 3 characters!
                </mat-error>
            </mat-form-field>

            <p>
                <!-- Category -->
                <mat-form-field>
                    <mat-label>Category</mat-label>
                    <mat-select matInput class="form-control" id="idCategory" name="idCategory" [(ngModel)]="idCategory"
                        required>
                        <mat-option *ngFor="let category of categoryList" [value]="category._id">
                            {{category.titleCategory}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- Meal -->
                <mat-form-field>
                    <mat-label>Type of Meal</mat-label>
                    <mat-select matInput class="form-control" id="meal" name="meal" [(ngModel)]="meal" required>
                        <mat-option *ngFor="let meal of meals" [value]="meal.value">
                            {{meal.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- Difficulty -->
                <mat-form-field>
                    <mat-label>Difficulty</mat-label>
                    <mat-select matInput class="form-control" id="difficulty" name="difficulty" [(ngModel)]="difficulty"
                        required>
                        <mat-option *ngFor="let difficulty of difficulties" [value]="difficulty.value">
                            {{difficulty.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </p>

            <p>
                <!-- Ingredient -->
                <mat-form-field>
                    <mat-label>Main Ingredient</mat-label>
                    <mat-select matInput class="form-control" id="mainIngredient" name="mainIngredient"
                        [(ngModel)]="mainIngredient" required>
                        <mat-option *ngFor="let ingredient of ingredientList" [value]="ingredient._id">
                            {{ingredient.titleIngredient}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- Season -->
                <mat-form-field>
                    <mat-label>Season</mat-label>
                    <mat-select matInput class="form-control" id="season" name="season" [(ngModel)]="season" required>
                        <mat-option *ngFor="let season of seasons" [value]="season.value">
                            {{season.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </p>

            <p>
                <!-- preparationTime -->
                <mat-form-field>
                    <input matInput type="number" min="0" placeholder="Preparation time in min" ngModel
                        name="preparationTime">
                </mat-form-field>

                <!-- cookingTime -->
                <mat-form-field>
                    <input matInput type="number" min="1" placeholder="Cooking time in min" ngModel name="cookingTime">
                </mat-form-field>

                <!-- servings -->
                <mat-form-field>
                    <input matInput type="number" min="1" placeholder="Servings plate" ngModel name="servings">
                </mat-form-field>

            </p>

            <p>
                <!-- ingredients -->
                <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="List with ingredient" ngModel name="ingredients" minlength="10"
                        #ingredients required> </textarea>

                    <mat-error *ngIf="ingredients.required">
                        Ingredients list is required!
                    </mat-error>
                    <mat-error *ngIf="ingredients.minLength">
                        Ingredients list must be at least 10 characters!
                    </mat-error>
                </mat-form-field>
            </p>

            <p>
                <!-- Preparation -->
                <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Add Recipe preparation" ngModel name="preparation" minlength="10"
                        #preparation required>
                    </textarea>
                    <mat-error *ngIf="preparation.required">
                        Description is required!
                    </mat-error>
                    <mat-error *ngIf="preparation.minLength">
                        Description must be at least 10 characters!
                    </mat-error>
                </mat-form-field>
            </p>

            <!-- Image  -->
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Image URL" type="text" ngModel name="imageUrl" #imageUrl required>
                <mat-error *ngIf="imageUrl.required">
                    Image URL is required!
                </mat-error>
            </mat-form-field>

            <button mat-raised-button color="primary" [disabled]="!form.form.valid">Create Recipe</button>
        </form>
    </mat-card-content>
</mat-card>