mat-card {
    width: calc(100% - 20px);
    height: calc(100% - 20px);

}

.my-card-image {
    width: calc(100% - 0px);
    height: calc(100% - 20%);
    object-fit: cover;
}

/* 
mat-grid-list{
    width: 100%; 
} */