<mat-grid-list cols="3" rowHeight="1:1" class="container">
    
    <mat-grid-tile role="listitem" *ngFor="let recipe of recipeList" class="my-mat-grid-tile">
        <mat-card class="my-card">
            <img mat-card-image class="my-card-image" src="{{recipe.imageUrl}}" alt="{{recipe.titleRecipe}}">
            <mat-card-header>
                <mat-card-title>{{recipe.titleRecipe}}</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <p>{{recipe.shortDescription | shorten : 100}}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button [routerLink]="['/recipe', recipe._id]" color="primary">View Recipe</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>