<p>recipe-main works!</p>

<mat-grid-list [cols]="breakpoint" rowHeight="1:1.5" (window:resize)="onResize($event)">
    
    <mat-grid-tile role="listitem" *ngFor="let recipe of recipeList" class="my-mat-grid-tile">
        <mat-card class="my-card" tabindex="0">
            <mat-card-header>
                <mat-card-title>{{recipe.titleRecipe}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image class="my-card-image" src="{{recipe.imageUrl}}" alt="{{recipe.titleRecipe}}">
            <mat-card-content>
                <mat-card-title>{{recipe.shortDescription}}</mat-card-title>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button [routerLink]="['/recipe', recipe._id]" color="primary">Details</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>