<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h2> New Category</h2>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>

        <form #form="ngForm" (ngSubmit)="newCategoryHandler(form)">

            <!-- Category Title -->
            <mat-form-field class="example-full-width">
                <mat-label>Category Title </mat-label>
                <input matInput  #titleCategory="ngModel" placeholder="Title for category" ngModel name="titleCategory" minlength="3"
                     required>

                <ng-container *ngIf="titleCategory.touched">
                    <mat-error *ngIf="titleCategory.errors?.['required']">
                        Title is required!
                    </mat-error>
                    <mat-error *ngIf="titleCategory.errors?.['minLength']">
                        Title is must be at least 3 characters!
                    </mat-error>
                </ng-container>
            </mat-form-field>
            <p>
                <!-- Image  -->
                <mat-form-field class="example-full-width">
                    <mat-label>Image URL</mat-label>
                    <input matInput #image="ngModel" ngModel required [minlength]="3" name="image">
                    <ng-container *ngIf="image.touched">
                        <mat-error class="error" *ngIf="image.errors?.['required']">
                            The field is required.
                        </mat-error>
                        <mat-error class="error" *ngIf="image.errors?.['minlength']">
                            Image must be at least {{image.errors?.['minlength']['requiredLength']}} characters long.
                        </mat-error>
                    </ng-container>
                </mat-form-field>
            </p>
            <button mat-raised-button color="primary" [disabled]="!form.form.valid">Create Category</button>
        </form>
    </mat-card-content>
</mat-card>