mat-card {
    /* card padding other cards row/column*/
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    background-color: white;
    color: black;
}

.my-card-image {
    width: calc(100% - 0px);
    height: calc(100% - 40%);
    object-fit: cover;
}

.container {
    margin-left: 10px;
    margin-right: 10px;
}

mat-card-content {
    /* display: flex; */
    width: 100;
}

mat-card-actions {
    margin-left: 10px;
}

button{
    margin-left: 10px;
    margin-right: 10px;
 }