<p>
    <mat-grid-list cols="1" rowHeight="1:1" class="container">
        <mat-card class="my-card">
            <mat-card-header>
                <img mat-card-avatar src="/assets/images/profile.png" alt="default user">
                <mat-card-title>Hello {{user.username}}</mat-card-title>
                <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <mat-grid-tile *ngFor="let recipe of user.ownRecipes" class="my-mat-grid-tile">
                    <mat-card>
                        <mat-card-header>
                            <img mat-card-md-image src="{{recipe?.imageUrl}}" alt="{{recipe?.imageUrl}}">
                            <mat-card-title>Title{{recipe?.titleRecipe}}</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                                {{recipe?.shortDescription}}
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-raise-button [routerLink]="['/recipe', recipe?._id]">view recipe</button>
                        </mat-card-actions>
                    </mat-card>
                </mat-grid-tile>
            </mat-card-content>
        </mat-card>
    </mat-grid-list>
</p>