<div>
    <!-- <mat-grid-list cols="4" rowHeight="1:1.5" class="container"> -->
    <!-- <mat-grid-tile class="my-mat-grid-tile"> -->
    <mat-card class="my-card">
        <!-- <img mat-card-image class="my-card-image" src="{{user.email}}" alt="{{category.titleCategory}}"> -->
        <mat-card-header>
            <mat-card-title>{{user.email}}</mat-card-title>
            <mat-card-title>{{user.username}}</mat-card-title>
            <mat-card-title>{{user.ownRecipes}}</mat-card-title>
            <mat-card-title>{{user.likedRecipes}}</mat-card-title>
            <!-- <mat-card-title>{{}}</mat-card-title> -->

        </mat-card-header>

        <mat-card-actions>
            <!-- <button mat-raised-button color="primary">view all recipes</button> -->
        </mat-card-actions>

    </mat-card>
    <!-- </mat-grid-tile> -->
    <!-- </mat-grid-list> -->