 #top-toolbar {
   background-color: #558B2F;
   color: #fff;
   height: 36px;
   font-size: 12px;
   position: relative;
 }


 #main-toolbar {
   background-color: white;
   color: #558B2F;
   height: 72px;
   transition: .2s;
   box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
 }

 .logo {
   display: block;
   width: 50px;
   height: auto;
   fill: #558b2f;
 }

 /*mat-toolbar {
   position: fixed;
   top: 0;
   z-index: 1000;
   /* position: sticky; */
   /* top: 0;
  z-index: 1; */
   /* position: -webkit-sticky; 
 }*/

 .example-spacer {
   flex: 1 1 auto;
 }

 section {
   display: table;
 }


 .example-button-row {
   display: table-cell;
   max-width: 600px;
 }

 .example-button-row .mat-mdc-button-base {
   margin: 8px 8px 8px 0;
   font-size: 16px;
 }

 .cookies {
   font-family: 'Cookie', cursive;
   font-size: 46px;
   letter-spacing: normal;
   margin: 0;
 }

 .mat-divider {
   margin: 10px;
 }

 /* .fixed-nav {
  position: fixed;
  top: 0;
  z-index: 1000;
} */

 .menu-items {
   margin: 0;
   padding: 0;
   list-style: none;
 }

 mat-toolbar {
   position: sticky;
   position: -webkit-sticky;
   top: 0px;
   z-index: 999;
 }