<!-- Top Toolbar -->
<p>
  <!-- <mat-icon inline="true" aria-label="Home page">home</mat-icon> -->
  <mat-toolbar>
    <mat-toolbar-row id="top-toolbar">
      <button mat-button>
        <mat-icon>call</mat-icon> (+100) 123 456 7890
      </button>
      <mat-divider [vertical]="true" style="height: 20px"></mat-divider>
      <button mat-button color="primary">
        <mat-icon>mail</mat-icon>
        contacts@recipe-diary.com
      </button>
      <mat-divider [vertical]="true" style="height: 20px"></mat-divider>
      <button mat-button color="primary">
        <mat-icon>location_on</mat-icon>
        Sofia, Bulgaria
      </button>
      <span class="example-spacer"></span>
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="facebook"></mat-icon>
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="share"></mat-icon>
    </mat-toolbar-row>
    <!-- /End Top Bar -->

    <!-- Main Bar -->
    <mat-toolbar-row id="main-toolbar">
      <!-- Logo -->
      <a routerLink="/" class="logo" href="/">
        <div class="logo">
          <mat-icon svgIcon="cook-book" class="logo"></mat-icon>
        </div>
      </a>

      <button mat-button routerLink="/" class="cookies">
        Recipe Diary
      </button>
      <span class="example-spacer"></span>

      <!-- Recipe  -->
      <section>
        <div class="example-button-row">
          <button mat-button color="primary" routerLink="/recipe">
            <mat-icon>menu_book</mat-icon>
            All Recipes
          </button>
          <button mat-button routerLink="/category">
            Recipes Categories <mat-icon>restaurant_menu</mat-icon>
          </button>
          <button mat-button routerLink="/ingredient">
            All Ingredients <mat-icon>restaurant_menu</mat-icon>
          </button>
        </div>
      </section>
      <!-- End Recipe -->
      <span class="example-spacer"></span>
      <!-- Login Register -->
      <section>
        <div class="example-button-row">
          <button mat-button color="primary" routerLink="/login">
            <mat-icon>login</mat-icon>
            Login
          </button>
          <button mat-button color="primary" routerLink="/register">
            <mat-icon>app_registration</mat-icon>
            Register
          </button>
        </div>

        <!-- Profile Links -->
        <span class="fill-remaining-space">
          <button mat-button color="primary" routerLink="/profile" [matMenuTriggerFor]="menu"
            #menuTrigger="matMenuTrigger" (mouseover)="menuTrigger.openMenu()">
            <mat-icon>person</mat-icon>
            Profile
          </button>

          <mat-menu class="profile-menu" #menu="matMenu" [overlapTrigger]="false">
            <span (mouseleave)="menuTrigger.closeMenu()">

              <!-- Admin Dashboard -->
              <button mat-menu-item routerLink="/admin">
                <mat-icon>admin_panel_settings</mat-icon>
                Admin Dashboard
              </button>

              <!-- Create Category Recipe  -->
              <button mat-menu-item routerLink="/category/create">
                <mat-icon>admin_panel_settings</mat-icon>
                Create Category Recipe
              </button>

               <!-- Create Ingredient Recipe  -->
               <button mat-menu-item routerLink="/ingredient/create">
                <mat-icon>admin_panel_settings</mat-icon>
                Create Ingredient Recipe
              </button>

              <!--  My Profile -->
              <button mat-menu-item routerLink="/profile">
                <mat-icon>person</mat-icon>
                My Profile
              </button>

               <!--   Add Recipe -->
              <button mat-menu-item routerLink="/recipe/create">
                <mat-icon>library_add</mat-icon>
                Add Recipe
              </button>

              <button mat-menu-item routerLink="/user/created-recipes">
                <mat-icon>list</mat-icon>
                <span>My Recipes</span>
              </button>

              <button mat-menu-item routerLink="/user/favorite-recipes">
                <mat-icon>favorite</mat-icon>
                <span>Liked Recipes</span>
              </button>

              <button mat-menu-item routerLink="/user/saved-recipes">
                <mat-icon>bookmarks</mat-icon>
                <span>Saved Recipes</span>
              </button>

              <button mat-menu-item routerLink="/logout">
                <mat-icon>logout</mat-icon>
                Logout
              </button>

            </span>
          </mat-menu>
        </span>
        <!-- End Profile Links -->

      </section>
    </mat-toolbar-row>
  </mat-toolbar>
</p>

<ng-template #nav>
  <a mat-button routerLink="/" class="home-button" title="Home page of Prog blog">
    <mat-icon inline="true" aria-label="Home page">home</mat-icon>
    <span>Prog blog</span>
  </a>
</ng-template>

<!-- On scroll up -->
<!-- <mat-toolbar color="primary">
    <ng-container *ngTemplateOutlet="nav"></ng-container>
  </mat-toolbar>
  
  <mat-toolbar *ngIf="scrollUp$ | async" class="fixed-nav" color="primary">
    <ng-container *ngTemplateOutlet="nav"></ng-container>
  </mat-toolbar> -->