<p>recipe-ingredient works!</p>
<div>
    <mat-grid-list cols="4" rowHeight="1:1.5" class="container">
        <mat-grid-tile *ngFor="let ingredient of ingredientList" class="my-mat-grid-tile">
            <mat-card class="my-card">
                <mat-card-header>
                    <mat-card-title>{{ingredient.titleIngredient}}</mat-card-title>
                </mat-card-header>
                
                <mat-card-actions>
                    <!-- <button [routerLink]="['/ingredient', ingredient._id]">Details</button> -->
                    <button mat-raised-button color="primary">view all recipes</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>


